@font-face {
	font-family: 'Bahnschrift'; 
	src: local('Bahnschrift'),
		url(../main_page/fonts/Bahnschrift.ttf); 
}

body {
    font-family: 'Russo One', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #010F19;
}

.wrap {
    max-width: 1366px;
}

.header {
    display:flex;
    position: absolute;
    
}

.items {
    color: #FFF;
    font-size: 18px;
    display: flex;
    margin-top: 57px;
    margin-left: 80px;
}

.items ul {
    margin: 0 10px;
}



.logo {
    font-size: 36px;
    font-weight: 400;
    color: #FFFF;
    margin-top: 44px;
    margin-left: 100px;
    
}


.main-info {
    display: flex;
    justify-content: center;
}

.info1 {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.info1 h1 {
    color:#FFF;
    font-size: 36px;
    line-height: 70.72px;
}

.information {
    margin-left: 100px;
    margin-top: 55px;
}

.information h6 {
    font-size: 18px;
    color: #FFF;
    opacity: 70%;
    font-weight: 300;
    font-style: normal;
    margin-top:30px;
    margin-bottom: 50px;
    font-family: Bahnschrift;
}

.info2 {
    width: 50%;
    height: 100vh;
    background: url(../main_page/img/bg.png) rgba(0,0,0,.1) no-repeat ;
    background-size: 100% 100vh;
    
}

.academy-btn {
    width: 203px;
    height: 63px;
    border-radius: 31.5px;
    font-size: 18px;
    color: #FFF;
    background-color: #010F19;
    border: 1px solid #FFF;
    text-shadow: 2px 2px 2px #000;
    transition: 1s;
}

.academy-btn:hover {
    background-color: #FA9F73;
    font-size: 20px;
    transition: 1s;

}


.about-us {
    width: 100%;
    height: 630px;
    background-color: #021523;
    display: flex;
    justify-content: center;
}

.about-us-block1 {
    width: 50%;
    display: flex;
    align-items: center;
}

.about-us-block2 {
    width: 50%;
    
}

.about-us-info h1 {
    font-size: 36px;
    color: #FFF;
    line-height: 70.72px;
}

.about-us-info {
    margin-left: 100px;
    margin-top: 40px;
}

.about-us-info p {
    font-size: 18px;
    color: #FFF;
    opacity: 70%;
    font-weight: 300;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Bahnschrift;
}

.about-us-btn {
    width: 203px;
    height: 63px;
    border-radius: 31.5px;
    font-size: 18px;
    color: #FFF;
    background-color: #010F19;
    border: 1px solid #FFF;
    text-shadow: 2px 2px 2px #000;
    transition: 1s;
}

.about-us-btn:hover {
    background-color: #FA9F73;
    font-size: 20px;
    transition: 1s;

}

/* academy */

.academy {
    height: 747px;
    background-color: #010F19;
    display: flex;
    justify-content: center;
}

.academy-block1 {
    width: 50%;
    display: flex;
    align-items: center;
}

.academy-block1 h1 {
    color:#FFF;
    font-size: 36px;
    line-height: 70.72px;
}

.academy-block2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academy-block2-bg {
    width: 549px;
    height: 550px; 
    background: url(../main_page/img/academy-bg.jpg) no-repeat;  
    background-size: 589px 550px;
    
}


.academy-info {
    margin-left: 100px;
    margin-top: 55px;
}

.academy-form-btn {
    width: 203px;
    height: 63px;
    border-radius: 31.5px;
    font-size: 18px;
    color: #FFF;
    background-color: #010F19;
    border: 1px solid #FFF;
    text-shadow: 2px 2px 2px #000;
    transition: 1s;
}

.academy-form-btn:hover {
    background-color: #FA9F73;
    font-size: 20px;
    transition: 1s;

}

.academy-info h6 {
    font-size: 18px;
    color: #FFF;
    opacity: 70%;
    font-weight: 300;
    font-style: normal;
    margin-top:30px;
    margin-bottom: 50px;
    font-family: Bahnschrift;
}

/* О СОЗДАТЕЛЯХ АКАДЕМИИ */

.btw-team-wrap {
    height: 100vh;
    width: 100%;
    background-color: #021523;
    
}

.btw-team-wrap h1 {
    font-size: 36px;
    color: #FFF;
    line-height: 70.72px;
    margin-left:100px;
    margin-bottom: 30px;
}


.btw-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-img1 {
    background-color: aqua;
    width: 315px;
    height: 366px;
    background: url(../main_page/img/ilfat.png);
    box-shadow: 0 0 5px 2px black;
}

.team-img2 {
    background-color: aqua;
    width: 315px;
    height: 366px;
    box-shadow: 0 0 5px 2px black;
    background: url(../main_page/img/den4uk.png);
    
}

.team-img3 {
    background-color: aqua;
    width: 315px;
    height: 366px;
    box-shadow: 0 0 5px 2px black;
    background: url(../main_page/img/alb.png);
}

.team-text {
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;

}

.team-text p {
    font-size: 18px;
    opacity: 70%;
    color: #FFF;
    font-weight: 350;
    font-family: Bahnschrift;
    text-align: center;
    line-height: 25px;
}

/* КАТЕГОРИЯ КЛУБЫ */

.club-wrap {
    width: 100%;
    height: 100vh;
    background-color: #010F19;
    display: flex;
    align-items: center;
}

.club-wrap h1 {
    font-size: 36px;
    color: #FFF;
    line-height: 70.72px;
    
    margin-bottom: 30px;
}

.club-info {
    margin-left: 100px;
    margin-top: 55px;
}

.club-block1 {
    width: 50%;
    display: flex;
    
    align-items: center;
}

.club-block2 {
    width: 50%;
    
}

.club-block1 p {
    font-size: 18px;
    opacity: 70%;
    color: #FFF;
    font-weight: 350;
    font-family: Bahnschrift;
    line-height: 25px;
    margin-bottom: 55px;
}

.clubs-btn {
    width: 203px;
    height: 63px;
    border-radius: 31.5px;
    font-size: 18px;
    color: #FFF;
    background-color: #010F19;
    border: 1px solid #FFF;
    text-shadow: 2px 2px 2px #000;
    transition: 1s;
}

.clubs-btn:hover {
    background-color: #FA9F73;
    font-size: 20px;
    transition: 1s;

}

.contact-wrap {
    width: 100%;
    height: 100vh;
    background-color: #021523;
    display: flex;
    align-items: center;
}

.contact-block1 {
    width: 50%;
    display: flex;
    
    align-items: center;
}

.contact-info h1 {
    font-size: 36px;
    color: #FFF;
    line-height: 70.72px;
    margin-bottom: 30px;
}

.contact-info {
    margin-left: 100px;
    margin-top: 55px;
}

.contact-info p {
    font-size: 18px;
    opacity: 70%;
    color: #FFF;
    font-weight: 350;
    font-family: Bahnschrift;
    line-height: 25px;
    margin-bottom: 55px;
}


.contact-block2 {
    width: 50%;
}

