@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: "Russo One", sans-serif;
  
}

.footer p {
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.footer {
  width: 100%;
  height: 210px;
  padding: 40px 100px;
  background: #010f1a;
}

.footer a {
  font-family: Bahnschrift;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.8;
}

.input-at {
  width: 204px;
  height: 24px;
  background: #383e42;
  border-radius: 17.5px;
  padding: 0 0 0 10px;
}

.input-padding li {
  margin: 0 0 14px 0;
}

.footer-item {
  display: flex;
  flex-wrap: wrap;
}

.button-Submit {
  width: 91px;
  height: 26px;
  left: 971px;
  top: 4836px;
  background: #fa9f73;
  border-radius: 17.5px;
  font-family: Bahnschrift;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 14px;
}
.footer-items-padding {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer_main {
  display: flex;
  justify-content: space-around;
}

.footer-items-logs {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
